<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenEMR Suite" thread-count="2">

	<parameter name="browser" value="ch"></parameter>
	<test thread-count="5" name="OpenEMR Test">
		<classes>
			<class name="com.synechron.test.LoginUITest" />
		</classes>
	</test> <!-- Test -->


	<test thread-count="5" name="OpenEMR Test - ff">
		<parameter name="browser" value="ff"></parameter>
		<classes>
			<class name="com.synechron.test.LoginUITest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->